div.chart_title {margin-left: 180px; margin-top: 50px;}

button {
    background-color: SteelBlue;
    color: white;
    padding: 15px 32px;
    margin-left: 250px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#tooltip {opacity: 0;}

rect.rect_pos {fill: DarkOrange; stroke: black;}
rect.rect_neg {fill: LawnGreen; stroke: black;}
rect.rect_highlight {fill: SkyBlue; stroke: black;}

path {stroke: black;}

.line {
    fill: none;
    stroke-width: 2px;
}
