div.chart_title {
    margin-left: 100px;
    margin-top: 50px;
    width: 600px;
    text-align: center;
}

div.navigation {
    margin-left: 100px;
    width: 600px;
    align-content: center;
}

button.nav_fwd {
    background-color: DarkGreen;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button.nav_back {
    background-color: SteelBlue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#tooltip {
    opacity: 0;
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

rect.rect_pos {fill: DarkOrange; stroke: black;}
rect.rect_neg {fill: LawnGreen; stroke: black;}
rect.rect_highlight {fill: SkyBlue; stroke: black;}

path.pie {stroke: black;}

path.line {
    fill: none;
    stroke-width: 2px;
}
circle.circle_highlight {
    fill: SlateGray;
}
